<div>
  <img src="/assets/images/me.jpg" alt="me" class="mw-50 img-fluid rounded-circle" id="bio-pic">
</div>
<ul class="nav flex-column pt-3 pb-3">
  {% for item in site.data.navigation %}
  <li class="nav-item">
    <a class="nav-url" href="{{ item.link }}">{{ item.name }}</a>
  </li>
  {% endfor %}
</ul>
<div>
  <p id="nav-info">&#128075; I'm Ian. Since January 2019, I've been working on service-oriented applications in the health software industry, mostly with Java and Ruby on Rails. I like black coffee and ambient music.</p>
  <div class="text-center" id="nav-flare">
    <a href="https://github.com/ns-ian">
      <img src="/assets/images/GitHub-Mark-Light-32px.png">
    </a>
    <a href="https://www.linkedin.com/in/ian-wright-7912657b">
      <img src="/assets/images/In-2C-34px-TM.png">
    </a>
  </div>
</div>
